
<header>
    <h3 id="naslov">O nama</h3>
</header>
<nav id="menu">
    <ul class="links">
        <li><a href="~/Home">Pocetna</a></li>
        <li><a href="~/Home/#one">Severna Italija</a></li>
        <li><a href="~/Home/#two">Krakov</a></li>
        <li><a href="~/Home/#three">Beč</a></li>
        <li><a href="~/Home/About">O nama</a></li>
    </ul>
</nav>
<div id="onama">
    <p>
        Turistička agencija  "Putovanja" posluje dugi niz godina. Radi se o agenciji iz Novog Sada.
        <br />
        S nama možete putovati gotovo po celom svetu. Među najjeftinijim i najisplativijim agencijama smo na području naše zemlje.<br />
        Uz to, za sve praznike imamo posebe akcijske cene koje privlače brojne ljubitelje putovanja koji su željni otkrivanja novih mesta i dobrog provoda. <br />
        Za bilo koje putovanje da se odlučite preko naše agencije, obezbeđujemo vodiča te putno osiguranje koje je uključeno u cenu.<br />
        Dodatnih troškova nema.<br />
        Bilo kojim prevozom da se putuje garantujemo vam sigunu i bezbednu vožnju.
    </p>
</div>


