@{
    ViewBag.Title = "Putovanja";
    ViewBag.Description = "Turistička agencija Putovanja se nalazi u Novom Sadu. Nudi najpovoljnije aranžmane.";
    ViewBag.Keywords = "putovanja, turistička agencija, novi sad, nova godina, aranžmani, italija, poljska, austrija";
}
<nav id="menu">
    <ul class="links">
        <li><a href="#">Pocetna</a></li>
        <li><a href="#one">Severna Italija</a></li>
        <li><a href="#two">Krakov</a></li>
        <li><a href="#three">Beč</a></li>
        <li><a href="~/Home/About">O nama</a></li>
    </ul>
</nav>

<!-- One -->
<section id="one" class="wrapper post bg-img" data-bg="banner2.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>SEVERNA ITALIJA – NOVA GODINA 2020 AUTOBUSOM</h2>
                <p>sa fakultativnom posetom Veneciji i Veroni</p>
            </header>
            <div class="content">
                <p>
                    Italija je jedna od najočaravajućih zemalja na svetu i predstavlja jednu od omiljenih destinacija. Popularnu “čizmu“ ljudi vole iz mnogo razloga. U njoj se savršeno uklapaju umetnost, moda, fantastični pejsaži i preukusna tradicionalna kuhinja.
                    <br />
                    Jedan od najlepših gradova sveta je italijanska diva na vodi – Venecija. Elegantne gondole koje plove kroz kanale, uzdizanje oko 400 mostova, prelepe palate i crkve, lutanje kroz uske uličice, golubovi, cvetni balkoni, čak i one najotpornije na romantiku i pozitivne emocije neće ostaviti imunim.
                </p>
            </div>
            <footer>
                <a href="https://en.wikipedia.org/wiki/Italy" class="button alt">Pročitaj više</a>
            </footer>
        </article>
    </div>
    <a href="#two" class="more">Pročitaj više</a>
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="banner3.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>KRAKOV – NOVA GODINA 2020 AUTOBUSOM</h2>
            </header>
            <div class="content">
                <p>
                    Uprkos zabludi da je Krakov „gradić“ simpatičnog starinskog izgleda, to nije istina. Posle Varšave, Krakov je najveći grad u Poljskoj, smešten na obalama reke Visle. Ipak, Krakov ostavlja utisak zaboravljenog gradića iz prošlosti. To je stara poljska prestonica koju bi slobodno mogli nazvati „grad muzej“.
                    <br />
                    Ta srednjevekovna harizma koju poseduje bivša prestonica i jedan od najstarijih gradova Poljske je upravo ono što privlači najveći broj turista. Srednjevekovni izgled, zamak, grad legende nad zmajevim gnezdom, ljubavne legende, kočije… priznaćete da zvuči bajkovito.
                </p>
            </div>
            <footer>
                <a href="https://en.wikipedia.org/wiki/Poland" class="button alt">Pročitaj više</a>
            </footer>
        </article>
    </div>
    <a href="#three" class="more">Pročitaj više</a>
</section>
<!-- Three -->
<section id="three" class="wrapper post bg-img" data-bg="banner4.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>KOMBI PREVOZ BEOGRAD - BEČ</h2>
                <p>11.11.2019</p>
            </header>
            <div class="content">
                <p>
                    Evropska prestonica kulture i umetnosti Beč je oduvek privlačio stanovnike Srbije, ne samo turistički, već i za život, rad i studije.
                    <br />
                    Do Beča iz Srbije možete doći bilo kojim prevoznim sredstvom, ali statistika pokazuje da se ljudi uglavnom odlučuju za minibus odnosno kombi prevoz. Razlog je vrlo jednostavan – kombi prevoz je najisplativiji, najudobniji i najkvalitetniji način da otputujete za Beč.
                </p>
            </div>
            <footer>
                <a href="https://en.wikipedia.org/wiki/Austria" class="button alt">Pročitaj više</a>
            </footer>
        </article>
    </div>
    <a href="#four" class="more">Pročitaj više</a>
</section>