body {
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

#footer {
	background: black !important;
}

#menu{
	background: black !important;
}
#onama{
    background:black;
    text-align:center;
    padding:10px;
    opacity:0.6;
}
#naslov{
    color:lightpink;
    padding:5px;
    font-size:30px;
    background-color:black;
}

